{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="container">

		<h1 class="mt-4 mb-5">S'inscrire</h1>
		<div class="w-50">
			<p class="my-2 display-10 fw-normal">
				"La lecture apporte à l'homme plénitude, le discours assurance et l'écriture exactitude.” “Il n'y a aucune raison pour que le même individu aime le même livre à dix-huit et à quarante-huit ans.” “Une lecture amusante est aussi utile à la santé que l'exercice du corps.” “Chaque lecture est un acte de résistance."
			</p>
		</div>

		<div class=" py-5  my-5">

			<div class="col-lg-6 mb-5 mb-lg-0 position-relative">
				<div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
				<div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
				<div class="card bg-glass">
					<div
						class="card-body px-4 py-5 px-md-5">
						<!-- 2 column grid layout with text inputs for the first and last names -->
						<div class="col-md-6 mb-4">
							{{ form_start(registrationForm) }}
							<div data-mdb-input-init class="form-outline">
								{{ form_row(registrationForm.pseudo) }}
							</div>
						</div>
						<!-- Email input -->
						<div data-mdb-input-init class="form-outline mb-4">
							{{ form_row(registrationForm.email) }}
						</div>
						<!-- Password input -->
						<div data-mdb-input-init class="form-outline mb-4">
							{{ form_row(registrationForm.plainPassword, {
                 label: 'Password'
                }) }}
							<!-- Submit button -->
						</div>
						<button type="submit" class="btn btn-outline-primary">
							S'inscrire</button>
					</div>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
</div></section>{% endblock %}
